body{
    font-family:'Orbitron', sans-serif;
    background-color:black;
    color:white;}

.sticky{
    height: auto;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;}

.sticky01{
    border:1px solid red;   
    height: auto;
    line-height: 50px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
    min-height:400px;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);}

img{width:100%;}

.header01{color:white;
    background-color:aquamarine;} 

.sitetitlediv{
    width:fit-content;
    border-bottom:1px solid lime;
    margin:auto;
    padding-bottom: 2px;}

.sitetitle{
    -family:'Orbitron', sans-serif;
    font-size:100px;
    margin:auto;
    width:fit-content;
    border-top:1px solid lime;
    border-bottom:3px solid lime;}
.btnseircoin{
    width:fit-content;
    margin:auto;
    border:1px solid white;
    border-radius:10px;}
    
    /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    background-color: rgba(25,25,25,0.3);
    margin: 60px auto;
    color: #f1f1f1;
    padding: 20px;
    backdrop-filter: blur(3px);
    text-align: center;
    width: fit-content;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.8);

}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
