body{
    font-family:'Orbitron', sans-serif;
    background-color:black;
    color:white;}



.sitetitle{
    font-size:50px;
    font-weight:bolder;
    margin:auto;
    width:fit-content;
    border-top:1px solid lime;
    border-bottom:3px solid lime;}

.btnseircoin{
    width:fit-content;
    margin:auto;
    border:1px solid white;
    border-radius:10px;}
    
    /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    background-color: rgba(25,25,25,0.3);
    margin: 150px auto;
    color: #f1f1f1;
    padding: 5px;
    text-align: center;
    width: fit-content;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.8);
    -webkit-box-shadow:20px 20px 20px rgba(0,0,0,0.8);

}

/* Style the button used to pause/play the video */
#myBtn {
  width: fit-content;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
